<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BESPOKE ADMIN</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/admin/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/admiin/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/admin/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/admin/vendors/owl-carousel-2/owl.theme.default.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/public/admin/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
  
       
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
           
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                <span>Gold Member</span>
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/dashboard">
            <span class="menu-icon">
              <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="/admin/users" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Users</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a></li>
              <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdowns</a></li>
              <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/products">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Products</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/category">
            <span class="menu-icon">
              <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Categories</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/orders">
            <span class="menu-icon">
              <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Orders</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="pages/icons/mdi.html">
            <span class="menu-icon">
              <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Icons</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
              <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">User Pages</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link"
            href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
            <span class="menu-icon">
              <i class="mdi mdi-file-document-box"></i>
            </span>
            <span class="menu-title">Documentation</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
  
      <!-- partial -->
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-description">Add Offer Details</p>
                <form class="forms-sample" method="post" name="couponForm" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="exampleInputName1">Coupon Name</label>
                        <input type="text" class="form-control" name="CouponName" id="exampleInputName1" placeholder="Coupon Name">
                        <div id="CoupenNameError" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Coupon Code</label>
                        <input type="text" class="form-control" name="CouponCode" id="exampleInputName1" placeholder="Coupon Code">
                        <div id="CoupenCodeError" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="Discount">Discount</label>
                        <input type="number" class="form-control" name="Discount" id="Discount" placeholder="Discount">
                        <div id="DiscountError" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="ExpireDate">Expire Date</label>
                        <input type="date" class="form-control" name="ExpireDate" id="ExpireDate" placeholder="Expire Date">
                        <div id="ExpireDateError" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="Criteria">Minimum purchase Amount</label>
                        <input type="number" class="form-control" name="Criteria" id="Criteria" placeholder="Criteria">
                        <div id="CriteriaError" class="text-danger"></div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button type="button" class="btn btn-dark" onclick="window.location.href='/admin/couponlist';">Cancel</button>
    
                    <% if (typeof messages !== 'undefined' && messages.message) { %>
                        <h5 style="color: red;">
                            <%= messages.message %>
                        </h5>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
    

    
    
    </div>



    <script>
  function validateForm(event) {
   
    event.preventDefault();

    let isValid = true;

   
    document.querySelectorAll('.text-danger').forEach(function(errorDiv) {
        errorDiv.innerText = '';
    });

   
    const couponNameInput = document.querySelector('[name="CouponName"]');
    if (!couponNameInput.value.trim()) {
        isValid = false;
        document.querySelector('#CoupenNameError').innerText = 'Coupon Name is required';
    }

   
    const couponCodeInput = document.querySelector('[name="CouponCode"]');
    if (!couponCodeInput.value.trim()) {
        isValid = false;
        document.querySelector('#CoupenCodeError').innerText = 'Coupon Code is required';
    }

   
    const discountInput = document.querySelector('[name="Discount"]');
    const discount = parseFloat(discountInput.value);
    if (isNaN(discount) || discount < 0 || discount > 100) {
        isValid = false;
        document.querySelector('#DiscountError').innerText = 'Discount must be a number between 0 and 50, max discount 50%';
    }

   
    const criteriaInput = document.querySelector('[name="Criteria"]');
    const criteria = parseFloat(criteriaInput.value);
    if (isNaN(criteria) || criteria <= 0) {
        isValid = false;
        document.querySelector('#CriteriaError').innerText = 'Criteria must be a positive number';
    }

   
    if (criteria <= discount) {
        isValid = false;
        document.querySelector('#CriteriaError').innerText = 'Criteria must be greater than Discount';
    }

   
    const expireDateInput = document.querySelector('[name="ExpireDate"]');
    const expireDate = new Date(expireDateInput.value);
    const currentDate = new Date();
    currentDate.setHours(0, 0, 0, 0);

    if (!expireDateInput.value.trim() || expireDate <= currentDate) {
        isValid = false;
        document.querySelector('#ExpireDateError').innerText = 'Expire Date must be a future date';
    }

  
    if (isValid) {
        document.forms['couponForm'].submit();
    }
}


document.querySelector('form[name="couponForm"]').addEventListener('submit', validateForm);

      </script>
    
    
    


    <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="/admin/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/hoverable-collapse.js"></script>
    <script src="/admin/js/misc.js"></script>
    <script src="/admin/js/settings.js"></script>
    <script src="/admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/admin/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>

</html>