<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BESPOKE ADMIN</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/admin/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/admiin/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/admin/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/admin/vendors/owl-carousel-2/owl.theme.default.min.css">
  <link href="/public/cropperjs/cropper.css" rel="stylesheet">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/public/admin/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>
<style>
  .error {
    color: red;
}
</style>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
            alt="logo" /></a>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                <span>Gold Member</span>
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/dashboard">
            <span class="menu-icon">
              <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="/admin/users" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Users</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a></li>
              <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdowns</a></li>
              <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/products">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Products</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/category">
            <span class="menu-icon">
              <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Categories</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/orders">
            <span class="menu-icon">
              <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Orders</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="pages/icons/mdi.html">
            <span class="menu-icon">
              <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Icons</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
              <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">User Pages</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link"
            href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
            <span class="menu-icon">
              <i class="mdi mdi-file-document-box"></i>
            </span>
            <span class="menu-title">Documentation</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
              alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-control" placeholder="Search products">
              </form>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-view-grid"></i>
              </a>
            </li>
            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
                aria-expanded="false">
                <i class="mdi mdi-email"></i>
                <span class="count bg-success"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                    <p class="text-muted mb-0"> 1 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                    <p class="text-muted mb-0"> 15 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                    <p class="text-muted mb-0"> 18 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">4 new messages</p>
              </div>
            </li>
            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                data-toggle="dropdown">
                <i class="mdi mdi-bell"></i>
                <span class="count bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Event today</p>
                    <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                    <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-link-variant text-warning"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Launch Admin</p>
                    <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">See all notifications</p>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle" src="assets/images/faces/face15.jpg" alt="">
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">BESPOKE</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
              </a>
              <!-- <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul> -->
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
                <span class="mdi mdi-format-line-spacing"></span>
              </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-description"> Basic form elements </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data" name="productForm" onsubmit="return validateForm()">   
              <div class="form-group">
                <label for="exampleInputName1">Brand</label>
                <input type="text" class="form-control" name="brand" id="brandName" placeholder="BRAND NAME">
                <div id="branderror" class="text-danger"></div>
              </div>           
              <div class="form-group">
                <label for="exampleInputName1">Product Name</label>
                <input type="text" class="form-control" name="productName" id="productName" placeholder="Product Name">
                <div id="productError" class="text-danger"></div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Description</label>
                <input type="text" class="form-control" name="description" id="productDescription"
                  placeholder="Description">
                <div id="productDescriptionError" class="text-danger"></div>
              </div>
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" name="quantity" id="productQuantity" placeholder="Quantity">
                <div id="quantityError" class="text-danger"></div>
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" name="price" id="productPrice" placeholder="Price">
                <div id="priceError" class="text-danger"></div>
              </div>



       
                    <div class="container ">
                        <table class="image-table">
                            <tr>
                                <td>
                                  
                                   
                                    <div class="card text-center mb-3" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">Image One</h5>
                                          <div class="close-icon" onclick="deleteImage('image1', 'preview1');">&times;
                                        </div>
                                        <label for="image1" class="form-label " >
                                            <img id="preview1" src="https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg" alt="" style="width: 200px;">
                                        </label>
                                        <input type="file" class="form-control" id="image1" name="productImage"
                                            style="display: none;">
                                            <span id="image1Error" class="error"></span>
                                            <button type="button" class="btn btn-success" onclick="document.getElementById('image1').click();">Upload Image</button>  
                                        </div>
                                      </div>
                                      

                                </td>
                                
                                <td>
                                   
                                    
                                    <div class="card text-center mb-3" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">Image Two</h5>
                                          <div class="close-icon" onclick="deleteImage('image2', 'preview2');">&times;
                                        </div>
                                        <label for="image2" class="form-label">
                                            <img id="preview2" src="https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg" alt="" style="width: 200px;">
                                        </label>
                                        <input type="file" class="form-control" id="image2" name="productImage"
                                            style="display: none;">
                                            <span id="image2Error" class="error"></span>
                                            <button type="button" class="btn btn-success" onclick="document.getElementById('image2').click();">Upload Image</button>  
                                        </div>
                                      </div>
                                </td>
                                <td>
                                   
                                    <div class="card text-center mb-3" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">Image Three</h5>
                                          <div class="close-icon" onclick="deleteImage('image3', 'preview3');">&times;
                                        </div>
                                        <label for="image3" class="form-label " >
                                            <img id="preview3" src="https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg" alt="" style="width: 200px;">
                                        </label>
                                        <input type="file" class="form-control" id="image3" name="productImage"
                                            style="display: none;">
                                            <span id="image3Error" class="error"></span>
                                            <button type="button" class="btn btn-success" onclick="document.getElementById('image3').click();">Upload Image</button>  
                                        </div>
                                      </div>
                                </td>
                                <td>
                                  <div class="card text-center mb-3" style="width: 18rem;">
                                      <div class="card-body">
                                          <h5 class="card-title">Image Four</h5>
                                          <div class="close-icon" onclick="deleteImage('image4', 'preview4');">&times;</div>
                                          <label for="image4" class="form-label">
                                              <img id="preview4" src="https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg" alt="" style="width: 200px;">
                                          </label>
                                          <input type="file" class="form-control" id="image4" name="productImage" style="display: none;">
                                          <span id="image4Error" class="error"></span>
                                          <button type="button" class="btn btn-success" onclick="document.getElementById('image4').click();">Upload Image</button>
                                      </div>
                                  </div>
                              </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal fade" id="imageCropModal" tabindex="-1" aria-labelledby="imageCropModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="imageCropModalLabel">Crop Image</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                              </div>
                              <div class="modal-body p-0 m-0">
                                  <img id="imageToCrop" src="" alt="Crop this image"
                                      style="width: 400px; height: 400px;">
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary"
                                      data-bs-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn btn-primary"
                                      id="cropImageBtn">Crop</button>
                              </div>
                          </div>
                      </div>
                      </div>
            
            
            
            
            
            
              <div class="form-group">
                <label for="exampleInputCity1">Category</label>
                <select class="form-control" name="categories" id="exampleInputCity1">
                  <option value="">Select Category</option>
                  <% for(let i=0;i< productData.length;i++){ %>
                    <option value="<%= productData[i].name %>" id="productCategory">
                      <%= productData[i].name %>
                      <% console.log(productData[i].name) %>
                    </option>
                    <div id="CategoryError" class="text-danger"></div>
                    <% } %>
                </select>
                <div id="CategoryError" class="text-danger"></div>
              </div>
              <button type="submit" class="btn btn-primary mr-2" id="submitBtn">Submit</button>
              <button class="btn btn-dark"><a href="/admin/products">Cancel</a></button>
              <% if (typeof messages !== 'undefined' && messages.message) { %>
                <h5 style="color: red;">
                  <%= messages.message %>
                </h5>
              <% } %>
            </form>
             </div>
        </div>
      </div>
    
    </div>




<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
<script src="/public/cropperjs/cropper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script>
  let currentInputId, currentPreviewId, cropper;
let croppedImages = {};
let originalFileNames = {};


document.addEventListener("DOMContentLoaded", function () {
  document.getElementById('image1').addEventListener('change', function () { prepareImageForCropping('image1', 'preview1'); });
  document.getElementById('image2').addEventListener('change', function () { prepareImageForCropping('image2', 'preview2'); });
  document.getElementById('image3').addEventListener('change', function () { prepareImageForCropping('image3', 'preview3'); });
  document.getElementById('image4').addEventListener('change', function () { prepareImageForCropping('image4', 'preview4'); });
    document.getElementById('cropImageBtn').addEventListener('click', function () {
      performCropping();
  });

  $('#imageCropModal').on('shown.bs.modal', function () {
      let image = document.getElementById('imageToCrop');
      cropper = new Cropper(image, {
        aspectRatio: null,
        viewMode: 1,
        dragMode: 'move',
        minContainerWidth: 300,
        minContainerHeight: 300,
        minCropBoxWidth: 300,
        minCropBoxHeight: 300,
        minCanvasHeight: 300,
        minCanvasWidth: 300,
    });
  });


  $('#imageCropModal').on('hidden.bs.modal', function () {
      if (cropper) {
          cropper.destroy();
          cropper = null;
      }
  });
});

function prepareImageForCropping(inputId, previewId) {
  currentInputId = inputId;
  currentPreviewId = previewId;
  const input = document.getElementById(inputId);
  const file = input.files[0];
  originalFileNames[inputId] = file.name;

  const reader = new FileReader();
  reader.onload = function (e) {
      document.getElementById('imageToCrop').src = e.target.result;
      $('#imageCropModal').modal('show');
  };
  reader.readAsDataURL(file);
}


function performCropping() {
  if (!cropper) {
    console.error("Cropper is not initialized.");
    return;
  }

  cropper.getCroppedCanvas().toBlob((blob) => {
    const preview = document.getElementById(currentPreviewId);
    // Update the preview image source to the cropped image
    preview.src = URL.createObjectURL(blob);

    // Store the cropped image blob in the croppedImages object
    croppedImages[currentInputId] = blob;

    // Hide the modal
    $('#imageCropModal').modal('hide');
  }, 'image/png');
}



</script>

<script>
function deleteImage(inputId, previewId) {
  var input = document.getElementById(inputId);
  var preview = document.getElementById(previewId);
  input.value = "";
  preview.src = "https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg";
  

}
</script>




<script>
  function previewImages(event) {
      var files = event.target.files;
      var imagePreview = document.getElementById('imagePreview');
      var maxAllowed = 4;
      var errorMessage = document.getElementById('ImageError');
      errorMessage.innerHTML = ''; 
      
      if (files.length > maxAllowed) {
          errorMessage.textContent = 'You can only select up to ' + maxAllowed + ' images.';
          event.target.value = '';
          return;
      }
      
      imagePreview.innerHTML = ''; 
      
      for (var i = 0; i < files.length; i++) {
          (function(file) {
              var reader = new FileReader();
              reader.onload = function() {
                  var img = document.createElement('img');
                  img.src = reader.result;
                  img.alt = 'Image Preview';
                  img.style.maxWidth = '100px';
                  img.style.maxHeight = '100px';
                  imagePreview.appendChild(img);
              };
              reader.readAsDataURL(file);
          })(files[i]);
      }
  }

  document.addEventListener('DOMContentLoaded', function () {

// const form = document.querySelector('form')
const submitBtn=document.getElementById('submitBtn')
submitBtn.addEventListener('click', function (e) {
    e.preventDefault()
    console.log("helloooo");
    const productName = document.getElementById('productName').value
    const category = document.getElementById('exampleInputCity1').value;
    const price = document.getElementById('productPrice').value
    const description = document.getElementById('productDescription').value
    const quantity = document.getElementById('productQuantity').value
    const brand=document.getElementById('brandName').value
    const image1 = document.getElementById('image1').files[0]
    const image2 = document.getElementById('image2').files[0]
    const image3 = document.getElementById('image3').files[0]
    const image4 = document.getElementById('image4').files[0]
    console.log("image 1",image1);

    const formData = new FormData();
    formData.append('productName', productName)
    formData.append('productCategory', category)
    formData.append('productPrice', price)
    formData.append('productDescription', description)
    formData.append('productQuantity', quantity)
    formData.append('brandName',brand)
    Object.keys(croppedImages).forEach(key => {
        const originalFileName = originalFileNames[key];
        formData.append(`uploadImg`, croppedImages[key],originalFileName);
    });

    console.log(formData);
    console.log("hello .....,...>>>>>>");
    fetch('/admin/addproduct', {
  method: 'POST',
  body: formData,
})
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error ${response.status}: ${response.statusText}`);
    }
    return response.json();
  })
  .then(data => {
    if (data === true) {
      window.location.href = '/admin/products';
    } else {
      // Handle case where response data is not true
      Swal.fire({
            icon: 'error',
            title: 'ERROR OCCURED',
            text: data.message.error,
            footer: ''
        });
    }
  })
  .catch(error => {
    validateForm();
  });



})
})
</script>

<script>
  function validateForm() {
    // Validate brand name
    const brandName = document.getElementById('brandName').value;
    if (!brandName) {
        document.getElementById('branderror').innerText = 'Brand name is required.';
        return false;
    } else {
        document.getElementById('branderror').innerText = '';
    }

    // Validate product name
    const productName = document.getElementById('productName').value;
    if (!productName) {
        document.getElementById('productError').innerText = 'Product name is required.';
        return false;
    } else {
        document.getElementById('productError').innerText = '';
    }

    // Validate description
    const description = document.getElementById('productDescription').value;
    if (!description) {
        document.getElementById('productDescriptionError').innerText = 'Description is required.';
        return false;
    } else {
        document.getElementById('productDescriptionError').innerText = '';
    }

    // Validate quantity
    const quantity = document.getElementById('productQuantity').value;
    if (quantity <= 0) {
        document.getElementById('quantityError').innerText = 'Quantity must be greater than 0.';
        return false;
    } else {
        document.getElementById('quantityError').innerText = '';
    }

    // Validate price
    const price = document.getElementById('productPrice').value;
    if (price <= 0) {
        document.getElementById('priceError').innerText = 'Price must be greater than 0.';
        return false;
    } else {
        document.getElementById('priceError').innerText = '';
    }

    // Validate category
    const category = document.getElementById('exampleInputCity1').value;
    if (!category) {
        document.getElementById('CategoryError').innerText = 'Category is required.';
        return false;
    } else {
        document.getElementById('CategoryError').innerText = '';
    }

    // Validate images
    // Validation for Image One
    const imageOneInput = document.getElementById('image1');
if (!imageOneInput.files || imageOneInput.files.length === 0) {
    document.getElementById('image1Error').innerText = 'Please upload Image One.';
    return false;
} else {
    document.getElementById('image1Error').innerText = '';
}

// Validation for Image Two
const imageTwoInput = document.getElementById('image2');
if (!imageTwoInput.files || imageTwoInput.files.length === 0) {
    document.getElementById('image2Error').innerText = 'Please upload Image Two.';
    return false;
} else {
    document.getElementById('image2Error').innerText = '';
}

// Validation for Image Three
const imageThreeInput = document.getElementById('image3');
if (!imageThreeInput.files || imageThreeInput.files.length === 0) {
    document.getElementById('image3Error').innerText = 'Please upload Image Three.';
    return false;
} else {
    document.getElementById('image3Error').innerText = '';
}

// Validation for Image Four
const imageFourInput = document.getElementById('image4');
if (!imageFourInput.files || imageFourInput.files.length === 0) {
    document.getElementById('image4Error').innerText = 'Please upload Image Four.';
    return false;
} else {
    document.getElementById('image4Error').innerText = '';
}

    // If all validations pass, return true to allow the form to be submitted
    return true;
}

</script>



      

            <!-- <script>
          document.addEventListener('DOMContentLoaded', function () {
              const fileInput = document.getElementById('productImage');
              const imagePreviewContainer = document.getElementById('imagePreview');

              fileInput.addEventListener('change', function () {
                  imagePreviewContainer.innerHTML = "";

                  for (const file of fileInput.files) {
                      const img = document.createElement('img');
                      img.src = URL.createObjectURL(file);
                      img.className = "img-sm img-thumbnail mr-2";
                      img.alt = "preview";
                      img.style.width = '80px';
                      img.style.height = '80px'; 
                      img.style.objectFit = 'cover'; 
                      imagePreviewContainer.appendChild(img);
                  }
              });
          });


        </script> -->

    <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="/admin/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/hoverable-collapse.js"></script>
    <script src="/admin/js/misc.js"></script>
    <script src="/admin/js/settings.js"></script>
    <script src="/admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/admin/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>

</html>