<div class="col-lg-5">
    <div class="product-single__thumbnail">
      <div class="swiper-container swiper-container-initialized swiper-container-vertical swiper-container-pointer-events swiper-container-free-mode swiper-container-thumbs">
        <div class="swiper-wrapper" id="swiper-wrapper-fd32bcad128b258b" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); height: 78.9219px; transition-duration: 0ms;">
          <div class="swiper-slide product-single__image-item swiper-slide-active" role="group" aria-label="" style="height: 89px;">
            <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto" src="/public/uploadImg/1708588711621_product_0-1.jpg" width="104" height="104" alt=""></div>
          </div>
          <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto" src="images/product_0-1.jpg" width="104" height="104" alt=""></div>
          <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto" src="images/product_0-2.jpg" width="104" height="104" alt=""></div>
          <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto" src="images/product_0-3.jpg" width="104" height="104" alt=""></div>
        </div>
      </div>
    </div>
  </div>







    <div class="mb-md-1 pb-md-3"> </div>
  <section class="product-single container">
    <div class="row">
      <div class="col-lg-7">
        <% for(let i=0;i < data.Image.length;i++) { %>
        <div class="product-single__media" data-media-type="">
          <div class="product-single__image">
            <div class="swiper-container swiper-container-initialized  swiper-container-horizontal swiper-container-pointer-events" style="cursor: grab;" >
              <div class="swiper-wrapper" id="swiper-wrapper-abla6348223fa135" aria-live="polite" style="transform: translate3d(-1698px, Opx, 0px); transition-duration:0ms;" >
                <div class="swiper-slide product-single__image-item" role="group" aria-label="1/data.Image.length" style="width: 534px; margin-right: 32px;">
                
                    <img loading="lazy" class="h-auto" src="/public/uploadImg/<%= data.Image[i] %>"  width="674" height="674" alt="<%= data.name %>">
                   
                </div>
                <% } %>
                
              <div class="swiper-button-prev"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm"></use></svg></div>
              <div class="swiper-button-next"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm"></use></svg></div>
             
            </div>
        
            </div>
          
          </div>
         
        </div>
       
      </div>